<header class="header">
    <div class="search-col">
        <img src="./assets/images/icons/search-normal.svg" alt="Search icon" class="icon">
        <span class="search-placeholder">Search here ...</span>
    </div>
    <div class="user-overview-col">
        <div class="notification">
            <img src="../assets/images/icons/notification-bing.svg" alt="Notification icon" class="notification-icon">
        </div>
        <div class="msg">
            <img src="../assets/images/icons/message-text.svg" alt="Message icon" class="notification-icon">
        </div>
        <div class="user-detail">
            <img src="../assets/images/avatar/gallery.png" alt="Avatar image">
            <span>Shraddha Dongol</span>
            <img src="../assets/images/icons/arrow-down.svg" alt="arrow-down icon">
        </div>
    </div>
</header>