<aside class="sidebar">
    <div class="logo">
      <img src="./assets/images/logo/logo.svg" alt="logo">
    </div>
    <div class="sidebar-items">
        <div class="top-sidebar-items">
            <ul>
                <li class="active">
                  <img src="./assets/images/icons/dashboard.png" alt="dashboard icon" class="icon">
                  <span class="active-item">Dashboard</span>
                </li>
                <li>
                  <img src="./assets/images/icons/calendar.png" alt="Schedule icon" class="icon">
                  <span>Schedule</span>
                </li>
                <li>
                  <img src="./assets/images/icons/message-text.png" alt="Message icon" class="icon">
                  <span>Message</span>
                </li>
                <li>
                  <img src="./assets/images/icons/chart.png" alt="Analytics icon" class="icon">
                  <span>Analytics</span>
                </li>
                <li>
                  <img src="./assets/images/icons/profile-2user.png" alt="Team icon" class="icon">
                  <span>Team</span>
                </li>
                <hr>
                <li>
                  <img src="./assets/images/icons/user.png" alt="Profile icon" class="icon">
                  <span>Profile</span>
                </li>
                <li>
                  <img src="./assets/images/icons/setting.png" alt="Settings icon" class="icon">
                  <span>Settings</span>
                </li>
              </ul>
        </div>
          <div class="bottom-sidebar-items">
            <ul>
                <li>
                  <img src="./assets/images/icons/info-circle.png" alt="Help icon" class="icon">
                  <span>Help</span>
                </li>
                <li>
                  <img src="./assets/images/icons/login.png" alt="Logout icon" class="icon">
                  <span>Logout</span>
                </li>
              </ul>
          </div>
    </div>
  </aside>