<div class="dashboard-grid">
    <!-- Analytics Chart Card -->
    <div class="analytics-card">
        <div class="analytics-header" style="display: flex; justify-content: space-between; align-items: center;">
            <h2 class="analytics-title">Analytics</h2>
          </div>
          <div id="chart-wrapper" style="position: relative;">
            <div id="chart"></div>
          </div>
          
          
        
    </div>

    <!-- Recent Transactions Card -->
    <div class="transaction-card">
        <div class="header">
            <h2>Recent Transactions</h2>
            <a href="#">See All</a>
          </div>
          <hr>
        <div class="transaction-list">
            <!-- <div class="transaction-item">
                <div class="transaction-header">
                    <div class="image-section">
                        <img src="../assets/images/icons/gallery.svg" alt="" class="icon-section">
                    </div>
                    <div class="text-section">
                        <div class="transaction">
                            <div class="title">
                                <p>Figma</p>
                                <p style="margin-right: 16px;">$ 100</p>
                            </div>
                            <div class="metadata">
                                <div class="date">
                                    August  20, 2022
                                </div>
                                <div class="status">
                                    Completed
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>